<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
  </head>
  <body>
    {{#userData}}
      <div class="">
        {{username}}
      </div>
    {{/userData}}
  </body>
</html>
