<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot LinkedIn</title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="container">
      <h1>Robot LinkedIn</h1>
      <nav>
        <a href="/">User Directory</a> | <a href="/looking">Available for Work</a> | <a href="/employeed">Gainfully Employed</a>
      </nav>
      <main>
        {{{yield}}}
      </main>
    </div>
  </body>
</html>
