<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
      {{#userData}}
      <table class="listing">
        <tr>
          <td class="left">
            <img src={{avatar}} alt={{name}}/>
          </td>
          <td>
            <h1>{{name}}</h1>
            {{#address}}
              {{#city}}
                <p>{{city}}, {{country}} |
              {{/city}}
              {{^city}}
                <p>{{country}} |
              {{/city}}
            {{/address}}
            {{#job}}
              {{job}}, {{company}}</p>
            {{/job}}
            {{^job}}
              <span class='hire'>Available for hire</span></p>
            {{/job}}
            <p>{{email}} | {{phone}}</p>
          </td>
        </tr>
        {{#university}}
        <tr>
          <td class="left">Education</td>
          <td>{{university}}</td>
        </tr>
        {{/university}}
        <tr>
          <td class="left">Skills</td>
          <td>
            <ul>
              {{#skills}}
              <li>{{.}}</li>
              {{/skills}}
            </ul>
          </td>
        </tr>
        {{/userData}}
      </table>
      <a href="/" class="back">Back to the User Directory</a>
    </div>
  </body>
</html>
