<div class="formWrapper">
  <h2>Login</h2>
  <form class="" action="/login" method="post">
    <input type="text" name="username" value="" placeholder="Username" autofocus>
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Login</button>
  </form>
  <p>Don't have an account? <a href="/signup">Create one!</a></p>
</div>
