<div class="formWrapper">
  <h2>Create an account</h2>
  <form class="" action="/createAccount" method="post">
    <input type="text" name="username" value="" placeholder="Username" autofocus>
    <input type="email" name="email" value="" placeholder="Email account" required>
    <input type="password" name="password" value="" placeholder="Password" required>
    <input type="text" name="name" value="" placeholder="Full name" required>
    <input type="text" name="avatar" value="" placeholder="Avatar URL">
    <input type="text" name="job" value="" placeholder="Job title">
    <input type="text" name="company" value="" placeholder="Company">
    <input type="text" name="skills" value="" placeholder="List your skills">
    <input type="tel" name="phone" value="" placeholder="Phone number" pattern="[\(]\d{3}[\)]\d{3}[\-]\d{4}">
    <input type="number" name="street_num" value="" placeholder="Street number">
    <input type="text" name="street_name" value="" placeholder="Street name">
    <input type="text" name="city" value="" placeholder="City">
    <input type="text" name="state_or_province" value="" placeholder="State or province">
    <input type="number" name="postal_code" value="" placeholder="Postal code">
    <input type="text" name="country" value="" placeholder="Country">
    <button type="submit" name="button">Create Account</button>
  </form>
  <p>Already have an account? <a href="/login">Login!</a></p>
</div>
