@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700');

body {
  margin: 0;
}
body * {
  font-family: 'Heebo', Helvetica, Arial, sans-serif;
}
main {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  max-width: 800px;
}
nav {
  align-items: center;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
}
h1 {
  flex: 1 90%;
  font-weight: 300;
  text-align: center;
}
a {
  flex: 1 19%;
  margin: 10px;
  text-decoration: none;
}
table a {
  margin: 0;
}
.userCard {
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #666;
  padding: 10px;
}
.userCard img {
  width: 100%;
}
.userCard h2 {
  color: #447ECA;
  font-weight: normal;
}
.userCard p {
  font-size: 0.9em;
}
.hire {
  color: #D8735F;
}
.listing img {
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 5px;
}
.listing h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0;
  text-align: left;
}
table {
  flex: 1 90%;
}
table td {
  padding: 10px;
  text-align: left;
  vertical-align: top;
}
td ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
table td.left {
  font-weight: bold;
  text-align: right;
}
.back {
  border-top: 1px solid #ddd;
  flex: 1 90%;
  font-size: 0.9em;
  margin: 20px 0;
  padding: 20px 0;
  text-align: center;
}
